/**
*@helpers
*/
.slick-dotted.slick-slider {
  margin-bottom: 0;
}

@media (min-width: 230px) {
  .home-banner {
    line-height: 0px;
  }

  .home-banner .slick-dots {
    bottom: 3rem;
  }

  .home-banner .slick-dots li {
    width: 3.4rem;
    height: 0.5rem;
    background-color: #fff;
    opacity: 0.5;
  }

  .home-banner .slick-dots li.slick-active {
    opacity: 1;
    background-color: #ff3a42;
  }

  .home-banner .slick-dots li button {
    display: none;
  }

  .home-banner .slick-dots li button::before {
    display: none;
  }

  .home-banner .banner__item {
    position: relative;
  }

  .home-banner .banner__item .banner__title {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    line-height: 2.4rem;
    color: #fff;
    z-index: 3;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
  }

  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  background-image: url("../img/icon__title-inline.png");
  background-size: contain;
  background-repeat: no-repeat;
  top: -webkit-calc(100% + 13px);
  top: -moz-calc(100% + 13px);
  top: calc(100% + 13px);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-position: center;
}

.home-banner .banner__item .frame::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 2;
  opacity: 0.3;
}

.home-banner .banner__item .frame .frame__image {
  display: block;
}

.home-field {
  padding: 3rem 0px;
  background-color: #1e245d;
  text-align: center;
}

.home-field .home-field__content .field__tag {
  letter-spacing: 0.22em;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #fff;
  opacity: 0.6;
  text-transform: uppercase;
  margin-bottom: 1.4rem;
}

.home-field .home-field__content .title__global {
  color: #ff3a42;
  margin-bottom: 1.4rem;
}

.home-field .home-field__content .field__info {
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-family: "Quicksand-Medium";
  font-weight: 500;
}

.home-new {
  padding: 3rem 0;
  background-color: #1e245d;
  color: white;
}

.home-new .title__global {
  text-align: center;
  color: #000;
  margin-bottom: 1.5rem;
}

.home-develope {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem 0;
}

.home-develope::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  z-index: 1;
}

.home-develope .container {
  position: relative;
  z-index: 3;
}

.home-develope .module__header {
  text-align: center;
}

.home-develope .module__header .title__global {
  color: #ff3a42;
  line-height: 3rem;
  font-size: 1.7rem;
}

.home-develope .module__header .info__global {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-family: "Quicksand-Medium";
  color: #fff;
}

.home-develope .develope__slide {
  padding-top: 5rem;
  text-align: center;
}

.home-develope .develope__slide .develope__item .develope__box .develope__title {
  color: #ffd43e;
  font-weight: 700;
  font-size: 2rem;
  line-height: 4rem;
  margin-bottom: 1.6rem;
}

.home-develope .develope__slide .develope__item .develope__box .develope__desc {
  font-size: 1.4rem;
  color: #fff;
  line-height: 2.4rem;
  font-weight: 600;
  font-family: "JosefinSans-SemiBold";
}

.home-develope .develope__slide .develope__item .develope__box .btn__view {
  margin-top: 2.4rem;
  background-color: transparent;
  color: #fff;
}

.home-develope .develope__slide .slick-arrow {
  display: none;
  z-index: 2;
}

.home-develope .develope__slide .slick-arrow.slick-prev {
  left: 0;
}

.home-develope .develope__slide .slick-arrow.slick-next {
  right: 0;
}

.partner {
  text-align: center;
  padding: 3rem 0;
  background-color: #f7f7f7;
}

.partner .title__global {
  color: #000;
}

.partner .partner__slide {
  margin: 0 -1rem;
}

.partner .partner__slide .partner__item .partner__box {
  border: 1px solid #e3e3e3;
  margin: 0 1rem;
}

.partner .partner__slide .partner__item .partner__box .frame {
  padding-top: 52.084%;
}

.partner .partner__slide .partner__item .partner__box .frame img {
  padding: 1.5rem;
  -o-object-fit: contain;
  object-fit: contain;
}

.partner .partner__slide .slick-arrow {
  z-index: 3;
  top: 40%;
}

.partner .partner__slide .slick-arrow::before {
  display: none;
}

.partner .partner__slide .slick-arrow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../../images/icons/icon__arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
  width: 3rem;
  height: 3rem;
}

.partner .partner__slide .slick-arrow.slick-prev {
  left: 0;
}

.partner .partner__slide .slick-arrow.slick-next {
  right: 11px;
}

.partner .partner__slide .slick-arrow.slick-next::after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.home-brand {
  padding: 3rem 0;
  background-image: url("../../images/bg__brand.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  position: relative;
  background-size: contain;
}

.home-brand::before {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 100%;
  background-color: rgba(247, 247, 247, 0.51);
}

.home-brand .container {
  position: relative;
  z-index: 2;
}

.home-brand .title__global {
  text-align: center;
  color: #000;
}

.home-brand .brand {
  margin: 0 -1.5rem;
}

.home-brand .brand .slide__brand .slide__item .box {
  margin: 0px 1.5rem;
}

.home-brand .brand .slide__brand .slide__item .box .frame {
  padding-top: 74.075%;
}

.home-brand .brand .slide__brand .slide__item .box .frame img {
  width: auto;
  -o-object-fit: contain;
  object-fit: contain;
}


@media (min-width: 480px) {
  .home-new {
    padding: 3rem 0;
  }

  .home-develope .develope__slide {
    margin: 0 -1rem;
  }

  .home-develope .develope__slide .develope__item .develope__box {
    margin: 0 1rem;
  }

  .home-develope .develope__slide .develope__item .develope__box .develope__desc {
    width: 100%;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    height: -webkit-calc(2.4rem * 3);
    height: -moz-calc(2.4rem * 3);
    height: calc(2.4rem * 3);
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}

@media (min-width: 576px) {
  .home-banner .banner__item .frame .frame__image {
    display: none;
  }

  .home-banner .banner__item .frame .img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

@media (min-width: 600px) {
  .home-banner .banner__item .frame {
    padding-top: 50%;
  }
}

@media (min-width: 992px) {
  .home-banner .banner__item .frame {
    padding-top: 43.049%;
  }

  .home-banner .banner__item .banner__title {
    font-size: 4.2rem;
    line-height: 50px;
    font-weight: 700;
  }

  .home-field {
    padding: 5rem 0;
  }

  .home-new {
    padding: 5rem 0;
  }

  .home-new .title__global {
    margin-bottom: 2rem;
  }

  .home-develope {
    padding: 5rem 0;
  }

  .home-develope .module__header .title__global {
    font-size: 3.6rem;
    line-height: 6rem;
  }

  .home-develope .develope__slide .develope__item .develope__box .develope__title {
    font-size: 3.6rem;
    height: 8rem;
  }

  .partner {
    padding: 5rem 0;
  }

  .partner .partner__slide .partner__item .partner__box .frame img {
    padding: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .home-banner .banner__item .frame {
    height: -webkit-calc(100vh - 6.4rem);
    height: -moz-calc(100vh - 6.4rem);
    height: calc(100vh - 6.4rem);
    width: 100vw;
  }

  .home-field {
    padding: 10rem 0;
  }

  .home-new {
    /* padding: 10rem 0; */
  }

  .home-new .title__global {
    margin-bottom: 3rem;
  }

  .home-develope {
    padding: 10rem 0;
  }

  .home-develope .develope__slide {
    text-align: left;
  }

  .home-develope .develope__slide .develope__item .develope__box {
    max-width: 192px;
    width: 100%;
    margin: 0 auto;
  }

  .home-develope .develope__slide .develope__item .develope__box .develope__desc {
    font-size: 1.8rem;
    line-height: 2.6rem;
    -webkit-line-clamp: 4;
    height: -webkit-calc(2.6rem * 4);
    height: -moz-calc(2.6rem * 4);
    height: calc(2.6rem * 4);
  }

  .home-develope .develope__slide .develope__item .btn__view {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .partner {
    padding: 10rem 0;
  }

  .partner .partner__slide {
    margin-top: 3.2rem;
  }

  .home-brand {
    padding: 7rem 0;
  }
}

@media (min-width: 1250px) {
  .partner .partner__slide .slick-arrow.slick-prev {
    left: -3.2rem;
  }

  .partner .partner__slide .slick-arrow.slick-next {
    right: -2.4rem;
  }
}

@media (max-width: 1199.98px) {
  .home-develope .develope__slide .develope__item .develope__box .develope__title br {
    display: none;
  }
}

@media (max-width: 375.98px) {
  .home-brand .title__global br {
    display: none;
  }
}